.headline{
    text-align: center;
    margin-top: 30px;
}
.result{
    /* margin: 0px  550px; */
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

td, th{
    border: 2px solid black;
    text-align: center;
    padding: 5px 10px;
}
table{
    border: 2px solid black;
    background-color: aqua;
}